<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload receipt</title>
</head>

<body>
    <form action="/receipt" class="upl_receipt" method="POST" enctype="multipart/form-data">
        <input type="file" name="formFile" id="formFile" class="form-control" accept="image/*,application/pdf" required>
        <% uid = Math.floor(Math.random() * 10000) %> 
        <input type="text" name="id" value="<%=uid%>">
        <input type="submit">
    </form>
</body>

</html>